<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="If-edge" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <title>Assignment on css flexbox</title>
    <link rel="stylesheet" href="styleSheet1.css" />
    <link href="https://fonts.google.com/specimen/Lexend+Deca family=Lexend Deca:wght@400;700&display=big shoulder" rel="stylesheet" />
</head>
<body>
    <main>
        <div class="content">
                <img src="icon-sedans.svg" class="logo" />
                <h3>
                    SEDANS
                </h3>
                <p>
                    Choose a sedan for its affordability and excellent fuel economy. Ideal for cruising in the city or on your next road trip.
                </p>
                <a href="">Learn more</a>
            </div>
        <div>
        </div>
    </main>
</body>
</html>